.DS_Store
__pycache__
settings_dev.py

# アプリが増えたら追加
beret/migrations/*.py
!/beret/migrations/__init__.py

# python manage.py tailwind start
# ビルドするたびに変更されるので、除外
tailwind_theme/static/css/dist/styles.css
