<!DOCTYPE html>
{% extends "layout/default.html" %}

{% block head %}
{% with title="ユーザーアカウント編集確認" %}
{{ block.super }}{% endwith %}{% endblock %}

{% block main %}
<div class="container mx-auto px-4 py-4 lg:p-8 xl:max-w-7xl">
  <div
    class="flex flex-col rounded-lg border bg-white md:col-span-3"
    >
      <div
        class="flex flex-col items-center justify-between gap-4 border-b border-slate-300 p-5 text-center sm:flex-row sm:text-start"
      >
        <div>
          <h2 class="mb-0.5 font-semibold">ユーザーアカウント編集確認</h2>
          <div class="p-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <span class="font-medium">[注意]</span> このページは確認ページです、ページ最下の「登録」ボタンを必ずクリックしてください
          </div>
        </div>
      </div>

      <div class="grid grid-cols-5 gap-4 px-6 py-4 md:px-10 md:py-8 border-b border-slate-300">
        <div class="md:col-span-3 col-span-5 md:order-1 order-2 grid gap-3">
          {% include 'forms/input_confirm.html' with val=form.username %}
          {% include 'forms/input_multiple_confirm.html' with val1=form.first_name val2=form.last_name label='アカウント氏名' %}
          {% include 'forms/input_confirm.html' with val=form.mail %}
        </div>
        <div class="md:col-span-2 col-span-5 md:order-2 order-1">
          <ul>
            <li class="font-mono text-xs text-indigo-600 dark:text-indigo-300">ここには各フォームの入力方法などを入力してください</li>
          </ul>
        </div>
      </div>

      <div class="grid grid-cols-5 gap-4 px-6 py-4 md:px-10 md:py-8 border-b border-slate-300">
        <div class="md:col-span-3 col-span-5 md:order-1 order-2 grid gap-3">
          {% include 'forms/input_confirm.html' with val=form.post %}
          {% include 'forms/input_confirm.html' with val=form.address1 %}
          {% include 'forms/input_confirm.html' with val=form.address2 %}
        </div>
        <div class="md:col-span-2 col-span-5 md:order-2 order-1">
          <ul>
            <li class="font-mono text-xs text-indigo-600 dark:text-indigo-300">ここには各フォームの入力方法などを入力してください</li>
          </ul>
        </div>
      </div>

      <div class="grid grid-cols-5 gap-4 px-6 py-4 md:px-10 md:py-8 border-b border-slate-300">
        <div class="md:col-span-3 col-span-5 md:order-1 order-2 grid gap-3">
          {% include 'forms/input_confirm.html' with val=form.profile %}
          {% include 'forms/input_confirm.html' with val=form.notes %}
          {% include 'forms/checkbox_confirm.html' with val=form.status choices=choices %}
        </div>
        <div class="md:col-span-2 col-span-5 md:order-2 order-1">
          <ul>
            <li class="font-mono text-xs text-indigo-600 dark:text-indigo-300">ここには各フォームの入力方法などを入力してください</li>
          </ul>
        </div>
      </div>

      <div class="flex gap-4 px-6 py-4 md:px-10 md:py-8">
        <div class="md:w-7/12 w-full">
          <form action="" method="post" class="w-full" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %} {{ field.as_hidden }} {% endfor %}
            <button type="submit" value="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">登録</button>
          </form>
        </div>
      </div>

  </div>
</div>

{% endblock %}