<!DOCTYPE html>
{% extends "layout/default.html" %}

{% block head %}
{% with title="ユーザーアカウント作成" %}
{{ block.super }}{% endwith %}{% endblock %}

{% block main %}
<div class="container mx-auto px-4 py-4 lg:p-8 xl:max-w-7xl">
  <div
    class="flex flex-col rounded-lg border bg-white md:col-span-3"
    >
      <div
        class="flex flex-col items-center justify-between gap-4 border-b border-slate-100 p-5 text-center sm:flex-row sm:text-start"
      >
        <div>
          <h2 class="mb-0.5 font-semibold">ユーザーアカウント管理</h2>
          <h3 class="text-sm font-medium text-slate-600">
            All your recent transactions in one place
          </h3>
        </div>
        <div>
          {% if image.image %}<img src="/upload/{{image.image}}" class="w-[90px] h-[90px] object-contain bg-slate-100">{% endif %}
          <form id="edit_image" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formImage }}
            <a id="upload" onclick='OnButtonClick()'>画像登録</a>
          </form>
        </div>
      </div>

      <form action="" method="post" class="w-full" novalidate>
        {% csrf_token %}
        <div class="flex gap-4 px-6 py-4 md:px-10 md:py-8">
          <div class="md:w-7/12 w-full">
          {% include 'forms/text.html' with form=form.name %}
          {% include 'forms/text_multiple.html' with form1=form.first_name form2=form.last_name label='アカウント氏名' %}
          {% include 'forms/text.html' with form=form.mail %}
          {{ form.password.as_hidden }}
          <button type="submit" value="submit" name="confirm" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mt-3 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">確認</button>
          </div>
        </div>
      </form>

  </div>
</div>

{% endblock %}

{% block extrajs %}
<script>

  const getCookie = (name) => {
    if (document.cookie && document.cookie !== '') {
      for (const cookie of document.cookie.split(';')) {
        const [key, value] = cookie.trim().split('=')
        if (key === name) {
          return decodeURIComponent(value)
        }
      }
    }
  }
  const csrftoken = getCookie('csrftoken')

  function OnButtonClick(){
    const fd = new FormData();
    fd.append('user_id', {{user.pk}});
    var clear = '';
    if(document.getElementById("image-clear_id")){
      var clear = document.getElementById("image-clear_id").checked;
    }
    if(clear){
      fd.append('image-clear', 'checked');
    }
    var image = document.getElementById("id_image").files[0]
    fd.append('image', image);
    console.log(...fd.entries());

    fetch('/user/upload/image', {
      method: 'POST',
      body: fd,
      headers:{
          'X-CSRFToken': csrftoken,
      },
    })
    .then(response => {
      return response.json() 
    })
    .then(data => {
      console.log(data)
      console.log(data.post.image)
    })
  }

</script>
{% endblock %}